ion-card{
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 32px;
  --padding-bottom: 32px;
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow-light);
  padding: 32px 24px;
}
ion-card-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 0;
}
.task-discriptive-img{
  width: 65px;
  height: 65px;
  border-radius: var(--card-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-discriptive-img ion-icon{
  font-size: 32px;
  color: #fff;
}
.about-task{
  flex: 1;
  text-align: center;
}
.about-task p{
  color: var(--black-light-weight);
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
}
.about-task h3{
  color: var(--main-black);
  font-size: 20px;
  font-weight: 700;
}
.about-task .task-title{
  text-align: left;
}
.play-btn{
  height: 44px;
  width: 44px;
  --border-radius: 100%;
  --background: var(--success);
  margin: 0;
}
ion-icon{
  font-size: 32px;
}
.progress-wrapper{
  display: flex;
  justify-content: center;
}
.progress-outer, .progress-inner{
  border-radius: 100%;
  display: block;
}
.progress-outer{
  margin: 0;
  width: 260px;
  height: 260px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.progress-inner{
  margin: 0;
  width: 220px;
  height: 220px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
  -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;

}
.progress-bar{
  stroke-dasharray: 754; //2*pie*radius
  stroke-dashoffset: 120;
}
.progress-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.progress-content h1{
  margin: 0;
  font-size: 42px;
}
.page-instruction{
  text-align: center;
  margin: 30px 0;
}
svg{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.progress-wrapper{
  position: relative;
}

.programming{background: #00A9F1}
.reading{background: #FF5726}
.music{ background: #FFC02D}
.exercise{background: #8BC255}
.meditation{background: #F54336}
.others{background: #607D8A}
.card-section{
  display: flex;
  justify-content: space-between;
}
