<!-- <div class="ion-page"> -->
  <ion-content class="page-wrapper">
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Pomodoro</ion-title>
      </ion-toolbar>
    </ion-header>

<div class="focus-timer-container">
  <ion-button (click)="deleteTask(selectedTask?.[0]?._id)">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
  <ion-card>
    <ion-card-content>
      <div class="task-discriptive-img" [ngClass]="selectedTask?.[0]?.category">
        <ion-icon [src]="'assets/task-categories/'+ selectedTask?.[0]?.category + '.svg'"></ion-icon>
      </div>
      <div class="about-task">
        <div class="card-section"><h3 class="task-title">{{selectedTask?.[0]?.title}}</h3> <h3>{{selectedTask?.[0]?.singleCycle}}/4</h3></div>
        <div class="card-section">
          <p>{{ (selectedTask?.[0]?.totalCycles*20) }} seconds</p>
          <p>{{timePerRound}} seconds</p></div>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- Pomodoro SVG -->
  <!-- <div>
    <ion-icon name="compass-outline" *ngFor="let item of totalPomodoros(selectedTask?.[0]?.totalCycles / 4)"></ion-icon>
  </div> -->
  <div class="time-square">
    <div class="progress-wrapper" *ngIf="!selectedTask?.[0]?.isCompleteCycle">
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-content">
            <h1>{{ (timeRemaining$ | async) | date: 'mm:ss' }}</h1>
            <p>{{((selectedTask?.[0]?.totalCycles % 4))}} of 4 sessions</p>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="260px" height="260px">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF"></stop>
            <stop offset="100%" stop-color="#9733EE"></stop>
          </linearGradient>
        </defs>
        <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 754 - (754 * ((selectedTask?.[0]?.totalCycles % 4)/ 4))}" #progressBar></circle>
      </svg>
    </div>
    <div class="progress-wrapper" *ngIf="selectedTask?.[0]?.isCompleteCycle">
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-content">
            <h1>{{ (0) | date: 'mm:ss' }}</h1>
            <p>4 of 4 sessions</p>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="260px" height="260px">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF"></stop>
            <stop offset="100%" stop-color="#9733EE"></stop>
          </linearGradient>
        </defs>
        <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 0, 'transition': 'stroke-dashoffset 5s'}" #progressBar></circle>
      </svg>
    </div>
    <p class="page-instruction">Stay focused for {{selectedTask?.[0]?.timeLeft}} minutes</p>
    <app-player [selectedTask]="selectedTask" (onPlayPomodoro)="playPomodoro(pauseTime)" (onPausePomodoro)="pausePomodoro()" (onStopPomodoro)="stopPomodoro()"></app-player>
  </div>

</div>
  </ion-content>
<!-- <ion-content class="ion-padding"> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Congratulations {{'username'}}, You have completed a pomodoro cycle and have a total of {{this.selectedTask?.[0]?.pomodoros}} pomodoros in the bank.
          Hurray!!!
        </p>
        <app-celebrations></app-celebrations>
      </ion-content>
    </ng-template>
  </ion-modal>
<!-- </ion-content> -->
