<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>task-focus-timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">task-focus-timer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<div class="focus-timer-container">
  <ion-card>
    <ion-card-content>
      <p class="task-discriptive-img"></p>
      <div class="about-task">
        <h3>{{selectedTask?.[0]?.title}}</h3>
        <p>{{ selectedTask?.[0]?.description }}</p>
        <p>{{ selectedTask?.[0]?.totalCycles }}</p>
        <!-- <p>{{ selectedTask?.[0]?.timeLeft }}</p> -->
        <ion-icon name="compass-outline" *ngFor="let item of totalPomodoros(selectedTask?.[0]?.totalCycles / 4)"></ion-icon>

      </div>
      <!-- <ion-button class="play-btn" [routerLink]="['../'+task?._id + '/task-timer']"><ion-icon name="play" color="#fff"></ion-icon></ion-button> -->

      <!-- <ion-button color="success" *ngIf="((showPlay | async).val && (((showPlay | async).index !== selectedIndex))) || (!(showPlay | async).val && (((showPlay | async).index !== selectedIndex)))" (click)="playPomodoro(task, index)">Play</ion-button>
      <ion-button color="success" *ngIf="(showPlay | async).val && (showPlay | async).index === selectedIndex" (click)="playPomodoro(task, index)">Play</ion-button>
      <ion-button color="warning" *ngIf="(showPause | async).val && ((showPlay | async).index === selectedIndex)" (click)="pausePomodoro(task, index)">Pause</ion-button> -->
    </ion-card-content>
  </ion-card>
  <div class="time-square">
    <!-- {{tempDate}} -->
    <!-- {{ selectedTask?.[0]?.timeLeft }} -->
    <!-- <h1 *ngIf="selectedTask?.[0]?.timeLeft === 0">{{ selectedTask?.[0]?.timeLeft | date: 'mm:ss' }}</h1>
    <h1 *ngIf="selectedTask?.[0]?.timeLeft > 0">{{ (timeRemaining$ | async) | date: 'mm:ss' }}</h1> -->


    <div class="progress-wrapper" *ngIf="!selectedTask?.[0]?.isComplete">
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-content">
            <h1>{{ (timeRemaining$ | async) | date: 'mm:ss' }}</h1>
            <p>{{((selectedTask?.[0]?.totalCycles % 4))}} of 4 sessions</p>
            <!-- <p>{{((selectedTask?.[0]?.pomodoros % 4))}} of 4 sessions</p> -->
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="260px" height="260px">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF"></stop>
            <stop offset="100%" stop-color="#9733EE"></stop>
          </linearGradient>
        </defs>
        <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 754 - (754 * ((selectedTask?.[0]?.totalCycles % 4)/ 4))}" #progressBar></circle>
      </svg>
    </div>
    <div class="progress-wrapper" *ngIf="selectedTask?.[0]?.isComplete">
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-content">
            <h1>{{ (0) | date: 'mm:ss' }}</h1>
            <p>4 of 4 sessions</p>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="260px" height="260px">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF"></stop>
            <stop offset="100%" stop-color="#9733EE"></stop>
          </linearGradient>
        </defs>
        <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 0, 'transition': 'stroke-dashoffset 5s'}" #progressBar></circle>
      </svg>
    </div>
    <app-player [selectedTask]="selectedTask" (onPlayPomodoro)="playPomodoro(pauseTime)" (onPausePomodoro)="pausePomodoro()" (onStopPomodoro)="stopPomodoro()"></app-player>
  </div>

</div>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Inline Modal</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <!-- <ion-button expand="block" (click)="setOpen(true)">Open</ion-button> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Congratulations {{'username'}}, You have completed a pomodoro cycle and have a total of {{this.selectedTask?.[0]?.pomodoros}} pomodoros in the bank.
          Hurray!!!
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
