<!-- <div class="ion-page">
  <ion-content class="page-wrapper">
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Pomodoro</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <!-- <ion-router-outlet style="position: relative; width: 100%; height: 100%; margin-top:56px;display: block;"></ion-router-outlet> -->
    <!-- <ion-router-outlet></ion-router-outlet> -->
    <!-- <app-footer></app-footer> -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="all">
          <ion-icon name="radio"></ion-icon>
          Tasks
        </ion-tab-button>
        <ion-tab-button tab="add">
          <ion-icon name="add-circle"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="">
          <ion-icon name="stats-chart"></ion-icon>
          Statistics
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  <!-- </ion-content>

</div> -->
