.page-wrapper{
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-end: 0;
  --padding-start: 0;
}
ion-tab-bar{
  --background: var(--main-bg-white);
  --border: 0;
}
ion-tab-button{
  --color-selected: var(--main-red);
  --color-focused: var(--main-red);
}
.tab-icon-add{
  font-size: 54px;

}
ion-tab-button.tab-btn-add{
  --color: var(--main-red);

}
