<div class="player-wrapper">
  <ion-button *ngIf="(showPlayBtn$ | async) === false" (click)="stop()" class="refresh-btn"><ion-icon name="refresh"></ion-icon></ion-button>
  <ion-button *ngIf="showPlayBtn$ | async" (click)="play()" class="play-btn"><ion-icon name="play" color="#fff"></ion-icon></ion-button>
  <ion-button *ngIf="(showPlayBtn$ | async) === false" (click)="pause()"  class="pause-btn"> <ion-icon name="pause"></ion-icon> </ion-button>
  <ion-button *ngIf="(showPlayBtn$ | async) === false"  (click)="stop()"  class="stop-btn"><ion-icon name="stop"></ion-icon></ion-button>
</div>
