<footer>
  <!-- <ion-bar slot="bottom"> -->
    <!-- <div class="footer"> -->
      <ion-button routerLink="all" routerLinkActive="router-link-active" >
        <div class="button-content">
          <ion-icon name="home"></ion-icon>
          <span>Home</span>
        </div>
      </ion-button>
      <ion-button routerLinkActive="router-link-active"  routerLink="/home">
        <div class="button-content">
          <ion-icon name="radio"></ion-icon>
          <span>Tasks</span>
        </div>
      </ion-button>
      <ion-button>
        <div class="button-content add" slot="icon-only" routerLink="add">
          <ion-icon name="add-circle"></ion-icon>
        </div>
      </ion-button>
      <ion-button>
        <div class="button-content">
          <ion-icon name="stats-chart"></ion-icon>
          <span>Statistics</span>
        </div>
      </ion-button>
      <ion-button>
       <div class="button-content">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
       </div>
      </ion-button>
    <!-- </div> -->
</footer>
