<ion-content class="page-wrapper">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Pomodoro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="page-content">
    <div>
      <!-- <ion-button (click)="open()">Add task</ion-button>
      <button (click)="deleteTask()"> Delete</button> -->
    </div>
    <h3 class="task-period">All Tasks ({{(taskResolved | async)?.length}})</h3>
    <app-task [task]="task" [index]="i" (onPlay)="playPomodoro(pauseTime, $event)" (onPause)="pausePomodoro()" *ngFor="let task of taskResolved | async; let i = index"></app-task>
  </div>
</ion-content>
