<!-- <div class="progress-wrapper" *ngIf="!selectedTask?.[0]?.isCompleteCycle"> -->
<div class="progress-wrapper">
  <div class="progress-outer">
    <div class="progress-inner">
      <div class="progress-content">
        <!-- <h1>{{ (timeRemaining$ | async) | date: 'mm:ss' }}</h1>
        <p>{{((selectedTask?.[0]?.totalCycles % 4))}} of 4 sessions</p> -->
        <h1>75%</h1>
        <!-- <p>{{((selectedTask?.[0]?.totalCycles % 4))}} of 4 sessions</p> -->
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="260px" height="260px">
    <defs>
      <linearGradient id="GradientColor">
        <stop offset="0%" stop-color="#DA22FF"></stop>
        <stop offset="100%" stop-color="#9733EE"></stop>
      </linearGradient>
    </defs>
    <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 754 - (754 * (1/ 4))}" #progressBar></circle>
    <!-- <circle class="progress-bar" cx="130" cy="130" r="120" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 754 - (754 * ((selectedTask?.[0]?.totalCycles % 4)/ 4))}" #progressBar></circle> -->
  </svg>
</div>
