<!-- <div class="progress-wrapper" *ngIf="!selectedTask?.[0]?.isCompleteCycle"> -->
<ion-card>
  <ion-card-content>
    <div class="progress-container">
      <div class="progress-wrapper">
        <div class="progress-outer">
          <div class="progress-inner">
            <div class="progress-content">
              <h1 *ngIf="todaysTasksComplete$ | async as tdayC">{{ tdayC.length ? ((tdayC.length / (todaysTasks$1 | async)!.length ) * 100) : 0}}%</h1>
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="80px" height="80px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#FF575C"></stop>
              <stop offset="100%" stop-color="#FF575C"></stop>
            </linearGradient>
          </defs>
          <circle class="progress-bar" cx="40" cy="40" r="35" stroke-linecap="round" [ngStyle]="{'stroke-dashoffset': 220 - (220 * (( todaysTasksComplete$ | async)!.length  / (todaysTasks$1 | async)!.length   ))}" #progressBar></circle>
        </svg>
      </div>
      <div class="progress-greeting">
        <div *ngIf="(todaysTasks$1 | async) as todaysTask">
          <div *ngIf="(todaysTasksComplete$ | async) as completedTasks" class="progress-greeting">
            <h3 *ngIf="todaysTask.length === 0">You do not have any task for today</h3>
            <h3 *ngIf="((todaysTask.length)> 0) && (((completedTasks.length / todaysTask.length) * 100) === 0)">You have not completed any task for today.</h3>
            <h3 *ngIf="(((completedTasks.length / todaysTask.length) * 100) > 0) && (((completedTasks.length / todaysTask.length) * 100) < 50)">Wow your daily has started well.</h3>
            <h3 *ngIf="(((completedTasks.length / todaysTask.length) * 100) === 50)">Wow! You are half way through.</h3>
            <h3 *ngIf="(((completedTasks.length / todaysTask.length) * 100) > 50) && (((completedTasks.length / todaysTask.length) * 100) < 90)">Wow your daily goal is almost done.</h3>
            <h3 *ngIf="((completedTasks.length / todaysTask.length) * 100) > 90">you have completed your daily goals.</h3>
          </div>
        </div>
        <p> {{(todaysTasksComplete$ | async)?.length}} of {{(todaysTasks$1 | async)?.length}}  completed</p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
