<ion-card>
  <!-- <ion-card-header>
    <ion-card-title>{{task?.title}}</ion-card-title>
    <ion-card-subtitle>{{ task.pomodoros }}</ion-card-subtitle>
  </ion-card-header> -->

  <ion-card-content>
    <div class="task-discriptive-img" [ngClass]="task?.category">
      <ion-icon [src]="'assets/task-categories/'+ task?.category + '.svg'"></ion-icon>
    </div>
    <div class="about-task">
      <h3>{{task?.title}}</h3>
      <p>{{ task?.totalCycles }} seconds</p>
      <!-- <p>{{ task?.pomodoros }}</p>
      <p>{{ task?.totalCycles }}</p> -->
    </div>
    <!-- <ion-button class="play-btn" [routerLink]="['../'+task?._id + '/task-timer',]" [state]="{reload: false}">Play</ion-button> -->
    <ion-button class="play-btn" (click)="playOnInit()"><ion-icon name="play"></ion-icon>
    </ion-button>

    <!-- <ion-button color="success" *ngIf="((showPlay | async).val && (((showPlay | async).index !== selectedIndex))) || (!(showPlay | async).val && (((showPlay | async).index !== selectedIndex)))" (click)="playPomodoro(task, index)">Play</ion-button>
    <ion-button color="success" *ngIf="(showPlay | async).val && (showPlay | async).index === selectedIndex" (click)="playPomodoro(task, index)">Play</ion-button>
    <ion-button color="warning" *ngIf="(showPause | async).val && ((showPlay | async).index === selectedIndex)" (click)="pausePomodoro(task, index)">Pause</ion-button> -->
  </ion-card-content>
</ion-card>
