ion-card{
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 32px;
  --padding-bottom: 32px;
  --border-radius: var(--card-radius);
  border-radius: var(--card-radius);
  padding: 32px 24px;
  box-shadow: var(--card-shadow-light);
}
ion-card-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 0;
}
.task-discriptive-img{
  width: 65px;
  height: 65px;
  border-radius: var(--card-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #CDDC4C;
}
.task-discriptive-img ion-icon{
  font-size: 32px;
  color: #fff;
}
.about-task{
  flex: 1;
  text-align: left;
}
.about-task p{
  color: var(--black-light-weight);
  margin-top: 8px;
  font-weight: 500;
}
.about-task h3{
  color: var(--main-black);
  font-size: 24px;
  font-weight: 700;
}
.play-btn{
  height: 44px;
  width: 44px;
  --border-radius: 100%;
  --background: var(--success);
  margin: 0;
}

.programming{background: #00A9F1}
.reading{background: #FF5726}
.music{ background: #FFC02D}
.exercise{background: #8BC255}
.meditation{background: #F54336}
.others{background: #607D8A}
