<!-- <div class="success-animation">
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
  </div> -->

  <!-- <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="confirm()" (didDismiss)="confirm()" #celebretions>
    <ng-template> -->
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Congratulations {{'username'}}, You have completed a pomodoro cycle and have a total of {{this.selectedTask?.[0]?.pomodoros}} pomodoros in the bank.
          Hurray!!!
        </p>
        <div class="success-animation">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
          </div>
        <!-- <app-celebrations></app-celebrations> -->
      </ion-content>
    <!-- </ng-template>
  </ion-modal> -->
